<strong>Olá {{ ownerName }}!</strong>
<p>Há uma nova incrição no seu meetup <strong>{{ meetappTitle }}</strong></p>
<p>
  <strong>Data: </strong>{{ meetappDate }} <br />
  <br />
  <strong>Inscrito: </strong>{{ userSubName }}<br />
  <strong>E-mail: </strong>{{ userSubEmail }}<br /><br /><br />
  <small>Data da inscrição: {{ sendDate }}</small>
  <br />
</p>
